name: ssh command

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote deploy script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_SSH_HOST }}
          username: ${{ secrets.DEV_SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.DEV_SSH_PORT }}
          # 改行コードの修正と権限付与を行ってから実行します
          script: |
            sed -i 's/\r//' /app/kento_yokoyama/deploy.sh
            chmod +x /app/kento_yokoyama/deploy.sh
            bash /app/kento_yokoyama/deploy.sh kento_yokoyama