name: ssh command
on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_SSH_HOST }}
          username: ${{ secrets.DEV_SSH_USER }}
          key: ${{ secrets.DEV_SSHE_SSH_KEY }}
          port: ${{ secrets.DEV_SSH_PORT }}
          # ここに実行したいコマンドを直接書きます
          script: bash /app/kento_yokoyama/deploy.sh kento_yokoyama
