name: ssh command

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - id: ssh
        # 1. ツールを同期と同じものに変える
        uses: invi5H/ssh-action@v1
        with:
          SSH_HOST: ${{ secrets.DEV_SSH_HOST }}
          SSH_PORT: ${{ secrets.DEV_SSH_PORT }}
          SSH_USER: ${{ secrets.DEV_SSH_USER }}
          # 2. 鍵の名前を、以前確認した「SSH_PRIVATE_KEY」に合わせる
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      # 3. 実行部分を同期と同じ書き方に分ける
      - run: ssh ${{ steps.ssh.outputs.SERVER }} bash /app/kento_yokoyama/deploy.sh kento_yokoyama